<h1>Flutter Stream <%= form_tag flits_path, :method => 'get' do %>
<% end %>
</h1>

<table>
<% @flit.each do |flit| %> 
  <tr>
    <td><%= flit.content %></td>
    <td><%= link_to 'Delete', flit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'New Flit', new_flit_path %>